/* Fonts family */
/* font-family: 'Open Sans', sans-serif;*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #252422;
}

body::selection {
  background-color: #FFA;
  color: #066;
}

.shadow {
  -moz-box-shadow: 0 8px 6px -6px black;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.green-text {
  color: #484649;
  font-weight: bold;
  font-size: 16px;

  padding: 10px;

  text-align: center; /* Выравнивание по центру */


}

.green-star {
  size: 24px;
}

/* .style1 {
  border:10px grey;
  background-color: silver;
  height: 100px;
  weight:100px;
  align-content: center;
  box-shadow: 0 4px 3px -3px black;
} */

.big-h {
  font-size: 24px;
  color: #484649;
  text-align: center;
  /* background-color: #FFF3DC; */
  width: 100%;
  height: 30px;
}


.mokka {
  border: 0px solid blue;
  margin: 0px;
  opacity: 100%;
  background-color: #FFF3DC;
  height: 100vh;
}

.nav {
  width: 100%;
  position: fixed;
  transition: background 0.3s, color 0.3s;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.nav__sticky {
  /*color: #ffffff;*/
}

.about_us_page {
  margin-top: 100px;
}

.nav__scrolled {
  color: inherit;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.nav_links {
  margin: 8px 2px;
  display: flex;
}

.nav_link {
  margin: 4px;
  padding: 4px;
  vertical-align: middle;
  color: inherit !important;
}

.instagram_link {
  height: 32px;
  width: 32px;
}

.link {
  color: dodgerblue;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}

.nav__logo {
  text-decoration: none;
  color: inherit;
  margin: 16px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.nav__logo:hover {
  opacity: 0.8;
}

.nav__logo__icon {
  height: 32px;
}

.nav__logo__title {
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  margin: 8px;
  font-size: 20px;
  font-weight: 700;
}

.goals_page {
  width: 100vw;
  position: relative;
  margin-top: 200px;
}

.goals_page__content {
  display: flex;
  justify-content: space-around;
  min-height: 30vh;
}

.contact_info {
  text-align: left;
  margin: 8px;
}

.goals_title {
  font-weight: 700;
  font-size: 30px;
}

.goals_list {
  list-style-type: none;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: 0;
  height: 100%;
  background: #ffffff;
}


.goals_character {
  bottom: -50px;
  width: 100%;
}

.goals_picture_box {
  border: 2px solid black;
  border-radius: 4px;
  height: 100%;
  padding: 20px;
  position: relative;
  background: #ffffff;
}

.goals_picture_box__corner:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 80px solid white;
  border-left: 80px solid #8a8a8a;
  width: 0;
}

.goals_picture_box__corner {
  position: absolute;
  right: -2px;
  top: -2px;
  height: 80px;
  width: 80px;
  background: #ffffff;
}

.goals_list__item {
  margin: 20px 0 !important;
  font-size: 1.1rem;
  font-weight: 400;
}

.goals_list__bullet {
  margin-right: 4px;
  height: 1.10rem;
}

.goals_background_strip {
  background: #E76B59;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-bottom-left-radius: 20%;*/
  /*border-bottom-right-radius: 20%;*/
}

.header {
  /*background: #006666;*/
  /*background: #ffffff;*/
}

.header__title {
  /*color: white;*/
  color: #252422;
  font-weight: 400;
  font-size: 54px;
  display: block;
}

.header__name {
  /*color: white;*/
  color: #252422;
  font-weight: 700;
  font-size: 60px;
  margin: 0;
}

.header_subtitle {
  /*color: white;*/
  color: #252422;
  font-weight: 300;
  font-size: 20px;
  margin: 8px 0;
}

.header_content {
  height: 100vh;
  align-items: center;
}

.header__text_wrapper {
  z-index: 2;
}

.background_illustration {
  position: absolute;
}

.header__character {
  bottom: 10vh;
  right: 10vw;
  width: 40vw;
  z-index: 2;
}

.header__cloud_01 {
  bottom: -50px;
  right: 0;
  width: 50vw;
  z-index: 1;
}

.header__cloud_02 {
  top: 0;
  right: 0;
  width: 30vw;
  z-index: 1;
}

.header__cloud_03 {
  left: 0;
  width: 50vw;
  z-index: 1;
  opacity: 0.5;
}

#particles-js {
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.page__title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.subtitle {
  font-weight: 600;
  font-size: 22px;
  margin: 8px;
}

.text {
  margin: 4px 8px;
  font-weight: 400;
  font-size: 1.1rem;
  opacity: .6;
}

.tooltip_text {
  margin: 4px 8px;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: .5;
}

.methodology__text_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contact_block {
  margin: 16px 0;
}

.methodology__page {
  margin-top: 100px;
  height: 60vh;
  align-items: center;
  position: relative;
}

.methodology_character__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.methodology_character__image {
  max-width: 90%;
  max-height: 90%;
}

.methodology_cloud {
  left: 0;
  top: 0;
  height: 70vh;
}

.before_google_map {
  width: 100%;
  height: 400px;
  border-radius: 8px;
}

.after_google_map {
  display: none;
  width: 98vw;
  height: 400px;
  border-radius: 8px;
  margin: 10px 0;
}

.contact_us_page {
  margin-bottom: 50px;
  align-items: center;
}

.teachers_page {
  height: 80vh;
  position: relative;
  margin-top: 50px;
}

.teachers_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 2px 8px;
}

.teachers_list__bullet {
  margin-right: 10px;
}

.teachers_list__item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.teachers_character {
  bottom: 0;
  right: 100px;
  width: 15vw;
  z-index: 2;
}

.teachers_cloud_01 {
  bottom: -10vh;
  right: 0;
  width: 35vw;
  z-index: 1;
}

.teachers_cloud_02 {
  bottom: -10vh;
  left: 0;
  width: 35vw;
  z-index: 1;
  transform: rotate(20deg);
}

.teachers_logos {
  background: #FFCF39;
  height: 124px;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teachers_logo {
  height: 64px;
  padding: 0 20px;
}

.price_page {
  margin-top: 50px;
}

.price_plan {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  /*margin: 10px;*/
  border: 1px solid #e6e6e6;
}

.price_plan__title {
  font-size: 1.35rem;
  font-weight: 600;
}

.price_plan__price {
  font-size: 2.7rem;
  font-weight: 700;
  margin: 10px 0;
}

.price_plan__options_block {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin: 30px 20px;
}

.price_plan__option {
  margin: 10px 0;
  font-size: 1.10rem;
  font-weight: 400;
  text-align: left;
}

.price_plan__button {
  color: white;
  text-decoration: none;
  background: #FFCF39;
  border-radius: 8px;
  padding: 15px 0px;
  width: 100%;
  font-weight: 700;
  font-size: 1.10em;
  text-align: center;
}

.price_plan__button:hover {
  opacity: 0.7;
}

.center_text {
  text-align: center;
}

.complete_text {
  margin: 8px 0;
}

.why_us_card__wrapper {
  height: 100%;
  border: 1px solid #f1f1f1;
  text-align: left;
  border-radius: 10px;
}

.why_us_card {
  margin: 30px;
  position: relative;
}

.why_us_block {
  margin-top: 20px;
}

.why_us_card__image {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.red_block {
  background: rgba(247, 16, 0, 0.27);
}

.yellow_block {
  background: rgba(253, 211, 0, 0.27);
}

.black_block {
  background: rgba(4, 0, 16, 0.21);
}

.questions_page {
  min-height: 60vh;
}

.question {
  margin: 8px 2px;
  padding: 8px 2px;
  text-align: left;
}

.questions_images_block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.questions_character {
  max-height: 400px;
}

.footer {
  background: #484649;
  left: 0;
  right: 0;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }

  .header__text_wrapper {
    text-align: center;
  }

  h1 {
    margin: 0.67em 8px 0 8px;
  }

  .header__title {
    font-size: 30px;
  }

  .header__name {
    font-size: 56px;
  }

  .header_subtitle {
    font-size: 18px;
  }

  .header__character {
    position: relative;
    width: 80vw;
    left: 50%;
    top: 16px;
    bottom: auto;
    transform: translateX(-30%);
  }

  .header__cloud_01 {
    width: 100vw;
    bottom: -24vh;
  }

  .header__cloud_02 {
    width: 67vw;
  }

  .header__cloud_03 {
    display: none;
  }

  .header_content {
    height: auto;
    align-items: flex-start;
    padding-top: 76px;
  }

  .why_us_card__wrapper {
    height: auto;
    margin: 8px 20px;
  }

  .methodology__page {
    margin-top: 20px;
    height: auto;
  }

  .methodology_cloud {
    display: none;
  }

  .teachers_page {
    height: auto;
    margin-top: 8px;
  }

  .teachers_logo {
    height: 32px;
  }

  .teachers_character {
    position: relative;
    width: 30vw;
    height: 100%;
    right: 0;
    bottom: auto;
    transform: translate(50vw, 20px);
  }

  .teachers_cloud_01 {
    display: none;
  }

  .teachers_cloud_02 {
    width: 100vw;
    bottom: 0;
  }

  .goals_page {
    margin-top: 80px;
  }

  .goals_picture_box {
    display: none;
  }

  .goals_list {
    margin: 8px;
    height: auto;
  }

  .goals_background_strip {
    margin-top: -100px;
    height: 200px;
  }

  .page__title {
    font-size: 30px;
  }

  .course_title {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .price_plan {
    margin: 8px;
  }

  .methodology_block {
    margin: 4px 2px;
  }

  .about_us_page {
    margin-top: 50px;
  }

  .questions_character {
    max-height: 200px;
  }

  .why_us_card__image {
    display: none;
  }

  .before_google_map {
    display: none;
  }

  .after_google_map {
    display: block;
  }

  .contact_info {
    text-align: center;
  }

  .contact_block {
    margin: 8px 0;
  }

  .complete_text {
    margin: 0;
  }

  .nav__logo__title {
    margin: 8px 2px;
  }

  .nav_links {
    margin: 8px 2px;
  }

  .nav__logo {
    margin: 2px;
  }
}
