/* Fonts family */
/* font-family: 'Open Sans', sans-serif;*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #252422;
}

body::selection {
  background-color: #FFA;
  color: #066;
}
h1 {
  color: #ffffff;

  font-size: 60px;
  font-weight: bold;
}

header
{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://images.unsplash.com/photo-1527142573877-7d395d8fa568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  /* flex-box thing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-bottom: 5%;
  /* text-shadow: 1px 1px 1px black; */
}
.shadow {
  -moz-box-shadow:    0 8px 6px -6px black;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow:         0 8px 6px -6px black;
}

.green-text{
  color: #484649;
  font-weight: bold;
  font-size: 16px;

  padding: 10px;

    text-align: center; /* Выравнивание по центру */


}

.green-star{
size:24px;
}
/* .style1 {
  border:10px grey;
  background-color: silver;
  height: 100px;
  weight:100px;
  align-content: center;
  box-shadow: 0 4px 3px -3px black;
} */

.big-h{
font-size: 24px;
color:#484649;
text-align: center;
/* background-color: #FFF3DC; */
width: 100%;
height: 30px;
}


.mokka
{
  border:0px solid blue;
  margin:0px;
  opacity: 100%;
  background-color: #FFF3DC;
height: 100vh;
}

.nav {
  width: 100vw;
  position: fixed;
  transition: background 0.3s, color 0.3s;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.nav__sticky {
  color: #ffffff;
}

.nav__scrolled {
  color: inherit;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
}

.nav_links {
  margin: 10px 50px;
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 4px;
  font-size: 18px;
  padding: 4px;
  vertical-align: middle;
}

.link:hover {
  opacity: 0.7;
}

.nav__logo {
  text-decoration: none;
  color: inherit;
  margin: 10px 50px;
  display: flex;
  align-items: center;
}

.nav__logo:hover {
  opacity: 0.8;
}

.nav__logo__icon {
  height: 32px;
}

.nav__logo__title {
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  margin: 8px;
  font-size: 18px;
}

.course_goals_page {
  height: 80vh;
  display: flex;
  align-items: center;
}

.goals_title {
  font-weight: 500;
  font-size: 30px;
}

.goals_list {
  list-style-type: none;
  line-height: 1.7em;
  font-weight: 300;
  font-size: 18px;
}

.goals_list__item {
  margin: 10px;
}
